@font-face{
	src:url("text.otf");
}

.button {
	-fx-pref-width: 200px;
    -fx-text-fill: rgb(255, 248, 220);
    -fx-font-size: 22px;
    -fx-cursor: hand; 
    -fx-background-color: transparent;
    -fx-font-family: "Mouse";

}

#title{
	-fx-font-family: "Mouse";
	-fx-font-size: 65px;
}

#Difficulty{
	-fx-font-family: "Mouse";
	-fx-font-size: 35px;
}
#restart {
	-fx-pref-width: 300px;
}

.button:hover {
    -fx-text-fill: rgb(188, 181, 155);
}

.text-field{
	-fx-font-size: 22px;
	-fx-pref-width: 200;
	-fx-pref-height: 50;
}

#back{
	-fx-pref-width: 100px;
}

#infomation{
	-fx-font-family:"Mouse";
	-fx-font-size:45px;
}
